body{
	background-image: url(assets/paper.jpg);
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
article{
}

section{
}
section{
}

header a{
	color: white;
	text-decoration: none;
}

#story{
	background-image: url(assets/campsite-tent-night.jpg);
	/*font-family: 'Roboto', sans-serif;*/
	border: 2px solid white;
	border-radius: 10px;
	padding: 50px;
	width: 688px;
	height: 372px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#hours{
	background-image: url(assets/campfire.jpg);
	/*font-family: 'Roboto', sans-serif;*/
	border: 2px solid white;
	border-radius: 10px;
	padding: 20px;
	width: 420px;
	height: 236px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#menu{
	background-image: url(assets/campfire-coffee.jpg);
	/*font-family: 'Roboto', sans-serif;*/
	border: 2px solid white;
	border-radius: 10px;
	padding: 50px;
	width: 400px;
	height: 300px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#story-text{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#story-text p{
	color: black;
	font-size: 18px;
}
#story-text h3{
	color: black;
	font-size: 24px;
}

#hours-text{
	background-color: rgba(85, 165, 210, 0.7);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hours-text p{
	color: black;
	font-size: 12px;
	margin: 2px;
}
#hours-text h2{
	color: black;
	font-size: 18px;
}

#menu-text{
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#menu-text p{
	color: black;
	font-size: 18px;
}
#menu-text h3{
	color: black;
	font-size: 24px;
}










/*end*/
