section{
	display: flex;
	flex-direction: column;
}
td {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}
#beansNeeded{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	background-color: green;
}

#homeLink{
	text-decoration: none;
	color: black;
}
#homeLink:hover{
	color: green;
	text-decoration: underline;
}
